<div class="container p-4">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-8 col-lg-5 h-100 border bg-light">
      <div *ngFor="let item of customDesign; let i = index">
        <div class="inputBox w-100 px-2">
          <textarea
            class="w-100 custom-textarea"
            rows="4"
            (click)="inputClick(i)"
            placeholder="Add Text Here"
            [(ngModel)]="customDesign[i].textValue"
            [style.font-size]="customDesign[i].size"
            [style.color]="customDesign[i].color"
            [style.text-align]="this.customDesign[i].hAlignment"
            [style.font-family]="customDesign[i].font"
            [style.transform]="
              'translateY(' +
              getVerticalAlignment(this.customDesign[i].vAlignment) +
              'px)'
            "
          ></textarea>
        </div>

            
        <hr class="m-0" [style.color]="selectedCard == i  ? '#1D2C5A' : '#afafaf'"  />
      </div>
    </div>
    <div class="col-4 col-md-4 col-lg-3 col-sm-2 p-4 text-center border">
      <div>
        <div class="color-btn"  style="background-color: blue;" (click)="selectColor('#253258')"></div>
        <div class="color-btn"  style="background-color: yellow;" (click)="selectColor('#ffff00')"></div>
        <div class="color-btn"  style="background-color: green;" (click)="selectColor('#008000')"></div>
        <div class="color-btn"  style="background-color: black;" (click)="selectColor('#000000')"></div>
        <div class="color-btn"  style="background-color: red;" (click)="selectColor('#ff0000')"></div>
        <div class="color-btn"  style="background-color: orange;" (click)="selectColor('#ffa500')"></div>
        <div class="color-btn"  style="background-color: purple;" (click)="selectColor('#800080')"></div>
        <div class="color-btn"  style="background-color: pink;" (click)="selectColor('#ffc0cb')"></div>
        <div class="color-btn"  style="background-color: brown;" (click)="selectColor('#a52a2a')"></div>
        <div class="color-btn"  style="background-color: gray;" (click)="selectColor('#808080')"></div>
       </div>
      <br />
      <select
        class="form-control btn-outline-primary mx-0 text-center custom-select"
        (click)="selectFont($event)"
      >
        <option class="bg-light">Select Font</option>
        <option class="bg-light" value="'Comic Sans MS', cursive, sans-serif" style="font-family: 'Comic Sans MS', cursive, sans-serif;">Comic Sans MS</option>
        <option class="bg-light" value="'Times New Roman', serif" style="font-family: 'Times New Roman', serif;">Times New Roman</option>
        <option class="bg-light" value="'Arial', sans-serif" style="font-family: 'Arial', sans-serif;">Arial</option>
        <option class="bg-light" value="'Courier New', monospace" style="font-family: 'Courier New', monospace;">Courier New</option>
        <option class="bg-light" value="'Georgia', serif" style="font-family: 'Georgia', serif;">Georgia</option>
        <option class="bg-light" value="'Impact', sans-serif" style="font-family: 'Impact', sans-serif;">Impact</option>
        <option class="bg-light" value="'Lucida Console', monospace" style="font-family: 'Lucida Console', monospace;">Lucida Console</option>
        <option class="bg-light" value="'Tahoma', sans-serif" style="font-family: 'Tahoma', sans-serif;">Tahoma</option>
        <option class="bg-light" value="'Trebuchet MS', sans-serif" style="font-family: 'Trebuchet MS', sans-serif;">Trebuchet MS</option>
        <option class="bg-light" value="'Verdana', sans-serif" style="font-family: 'Verdana', sans-serif;">Verdana</option>
    
      </select>

      <br />
      <select
        class="form-control btn-outline-primary mx-0 text-center custom-select"
        (click)="selectSize($event)"
      >
        <option class="bg-light">Select Size</option>
        <option class="bg-light" value="15px">15px</option>
        <option class="bg-light" value="17px">17px</option>
        <option class="bg-light" value="18px">18px</option>
        <option class="bg-light" value="20px">20px</option>
        <option class="bg-light" value="22px">22px</option>
        <option class="bg-light" value="24px">24px</option>
        <option class="bg-light" value="26px">26px</option>
      </select>
      <div class="row text-center m-3">
        <div class="btn-group mb-4" role="group" aria-label="Basic example">
          <button
          style="width: 250px"
            [style.color]="getLeftHAlignment() ==  true ? '#ffffff'  : null "
            [style.background]="getLeftHAlignment() ==  true ? '#253258'  : null "

            (click)="onHorizontalAlignment('top', 'left')"
            class="btn btn-lignt border"
          >
            <i class="fa-solid fa-align-left"></i>
          </button>
          <button
            style="width: 250px"
            [style.color]="getCenterHAlignment() ==  true ? '#ffffff'  : null "
            [style.background]="getCenterHAlignment() ==  true ? '#253258'  : null "
            (click)="onHorizontalAlignment('top', 'center')"
            class="btn border"
          >
            <i class="fa-solid fa-align-justify"></i>
          </button>
          <button
            style="width: 250px"
            [style.color]="getRightHAlignment() ==  true ? '#ffffff'  : null "
            [style.background]="getRightHAlignment() ==  true ? '#253258'  : null "
            (click)="onHorizontalAlignment('top', 'right')"
            class="btn btn-lignt border"
          >
            <i class="fa-solid fa-align-right"></i>
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button
            style="width: 250px"
            [style.color]="getLeftVAlignment() ==  true ? '#ffffff'  : null "
            [style.background]="getLeftVAlignment() ==  true ? '#253258'  : null "
            (click)="onVerticalAlignment('top', 'top')"
            class="btn btn-lignt border"
          >
            <i
              class="fa-solid fa-minus"
              style="position: relative; bottom: 13px"
            ></i>
          </button>
          <button
            style="width: 250px"
            [style.color]="getCenterVAlignment() ==  true ? '#ffffff'  : null "
            [style.background]="getCenterVAlignment() ==  true ? '#253258'  : null "
            (click)="onVerticalAlignment('top', 'middle')"
            class="btn border"
          >
            <i class="fa-solid fa-minus"></i>
          </button>
          <button
            style="width: 250px"
            
            [style.color]="getRightVAlignment() ==  true ? '#ffffff'  : null "
            [style.background]="getRightVAlignment() ==  true ? '#253258'  : null "
            (click)="onVerticalAlignment('top', 'bottom')"
            class="btn btn-lignt border"
          >
            <i
              class="fa-solid fa-minus"
              style="position: relative; top: 13px"
            ></i>
          </button>
        </div>
      </div>
     
          <button class="btn newButton" (click)="reset()">done</button>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
